POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
APP_NOTIFICATION_FROM_ADDRESS=
SMTP_USERNAME=
SMTP_PASSWORD=
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=

MQ_MNGR=
MQ_CHANNEL=
MQ_CONNECTION=
MQ_USER=
MQ_PASSWORD=
MQ_ADMIN_USER=
MQ_ADMIN_PASSWORD=

FRONTEND_AUTH=
JWT_SECRET=



VITE_NAAS_BACKEND_API=
